{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{<fragments/layout}}{{$menu}}owners{{/menu}}{{$body}}

<div id="block-content">
  {{<fragments/pets#visits}}{{/fragments/pets#visits}}
</div>

{{/body}}{{/fragments/layout}}

{{!  </body>

</html>}}
