{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{<fragments/layout}}{{$menu}}owners{{/menu}}{{$body}}
<div id="block-content">
  {{<fragments/pets#edit}}{{/fragments/pets#edit}}
</div>
{{/body}}{{/fragments/layout}}

{{!  </body>

</html>}}
