{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{<fragments/layout}}{{$menu}}owners{{/menu}}{{$body}}

<div id="block-content">

  {{<fragments/owners#findForm}}{{/fragments/owners#findForm}}

</div>

{{/body}}{{/fragments/layout}}

{{!  </body>

</html>}}
