{{!
<!DOCTYPE html>

<html lang="en">

  <body>}}

{{<fragments/layout}}{{$menu}}owners{{/menu}}{{$body}}

<div id="block-content">
  {{<fragments/owners#details}}{{/fragments/owners#details}}
</div>

{{/body}}{{/fragments/layout}}

{{!  </body>

</html>}}
