{{!
<!DOCTYPE html>

<html lang="en">

  <body>

  <form>}}
  <div class="form-group{{^valid}} has-error{{/valid}}">
    <label class="col-sm-2 control-label">{{label}}</label>
    <div class="col-sm-10">
        {{^date}}<input class="form-control" type="text" name="{{name}}" value="{{value}}"/>{{/date}}
        {{#date}}<input class="form-control" type="date" name="{{name}}"
                    placeholder="YYYY-MM-DD" title="Enter a date in this format: YYYY-MM-DD"
                    pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" value="{{value}}"/>{{/date}}
      {{#valid}}<span
        class="glyphicon glyphicon-ok form-control-feedback"
        aria-hidden="true"></span>{{/valid}}
      {{^valid}}<span
          class="glyphicon glyphicon-remove form-control-feedback"
          aria-hidden="true"></span>
        {{#errors}}<span class="help-inline">{{.}}</span>{{/errors}}{{/valid}}
    </div>
  </div>
{{!  </form>

  </body>

</html>}}
