<div th:fragment="find-form" th:remove="tag">
  <h2>Find Owners</h2>

  <form th:object="${owner}" th:action="@{/owners}" method="get" hx-push-url="true"
        hx:get="@{/owners}" hx-swap="innerHTML" hx-target="#block-content"
        class="form-horizontal" id="search-owner-form">
    <div class="form-group">
      <div class="control-group" id="lastNameGroup">
        <label class="col-sm-2 control-label">Last name </label>
        <div class="col-sm-10">
          <input class="form-control" th:field="*{lastName}" size="30"
                 maxlength="80"/> <span class="help-inline"><div
          th:if="${#fields.hasAnyErrors()}">
              <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
            </div></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Find
          Owner
        </button>
      </div>
    </div>

    <a class="btn btn-primary" hx:get="@{/owners/new}" hx-swap="innerHTML" hx-target="#block-content"
       hx-push-url="true" th:href="@{/owners/new}">Add Owner</a>

  </form>
</div>

<div th:fragment="list" th:remove="tag">
  <h2>Owners</h2>

  <table id="owners" class="table table-striped">
    <thead>
    <tr>
      <th style="width: 150px;">Name</th>
      <th style="width: 200px;">Address</th>
      <th>City</th>
      <th style="width: 120px">Telephone</th>
      <th>Pets</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${listOwners}">
      <td>
        <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"
        hx:get="@{/owners/__${owner.id}__}" hx-push-url="true" hx-target="#block-content"/></a>
      </td>
      <td th:text="${owner.address}"/>
      <td th:text="${owner.city}"/>
      <td th:text="${owner.telephone}"/>
      <td><span th:text="${#strings.listJoin(owner.pets, ', ')}"/></td>
    </tr>
    </tbody>
  </table>
  <div th:if="${totalPages > 1}">
    <div th:replace="~{fragments/pagination::component('/owners', ${totalPages}, ${currentPage})}"/>
  </div>
</div>

<div th:fragment="information" th:remove="tag">
  <h2>Owner Information</h2>

  <table class="table table-striped" th:object="${owner}">
    <tr>
      <th>Name</th>
      <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
    </tr>
    <tr>
      <th>Address</th>
      <td th:text="*{address}"></td>
    </tr>
    <tr>
      <th>City</th>
      <td th:text="*{city}"></td>
    </tr>
    <tr>
      <th>Telephone</th>
      <td th:text="*{telephone}"></td>
    </tr>
  </table>

  <a hx:get="@{__${owner.id}__/edit}" hx-push-url="true" hx-target="#block-content" th:href="@{__${owner.id}__/edit}"
     class="btn btn-primary">Edit
    Owner</a>
  <a hx:get="@{__${owner.id}__/pets/new}" hx-push-url="true" th:href="@{__${owner.id}__/pets/new}" hx-target="#block-content" class="btn btn-primary">Add
    New Pet</a>
</div>


<div th:fragment="pets-visits" th:remove="tag">
  <h2>Pets and Visits</h2>

  <table class="table table-striped">

    <tr th:each="pet : ${owner.pets}">
      <td valign="top">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd th:text="${pet.name}"></dd>
          <dt>Birth Date</dt>
          <dd
            th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></dd>
          <dt>Type</dt>
          <dd th:text="${pet.type}"></dd>
        </dl>
      </td>
      <td valign="top">
        <table class="table-condensed">
          <thead>
          <tr>
            <th>Visit Date</th>
            <th>Description</th>
          </tr>
          </thead>
          <tr th:each="visit : ${pet.visits}">
            <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
            <td th:text="${visit?.description}"></td>
          </tr>
          <tr>
            <td><a th:href="@{__${owner.id}__/pets/__${pet.id}__/edit}"
                   hx:get="@{__${owner.id}__/pets/__${pet.id}__/edit}"
                   hx-push-url="true"
                   hx-target="#block-content">Edit Pet</a></td>
            <td><a th:href="@{__${owner.id}__/pets/__${pet.id}__/visits/new}"
                   hx:get="@{__${owner.id}__/pets/__${pet.id}__/visits/new}"
                   hx-push-url="true"
                   hx-target="#block-content">Add Visit</a></td>
          </tr>
        </table>
      </td>
    </tr>

  </table>
</div>

<div th:fragment="details" th:remove="tag">
  <div th:replace="~{:: information}"/>

  <br/>
  <br/>
  <br/>

  <div th:replace="~{:: pets-visits}"/>
</div>

<div th:fragment="edit" th:remove="tag">
  <h2>Owner</h2>
  <form th:object="${owner}" hx-post
        hx-swap="innerHTML" hx-target="#block-content"
        class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}"/>
      <input
        th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}"/>
      <input
        th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}"/>
      <input
        th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}"/>
      <input
        th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}"/>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'"
          class="btn btn-primary" type="submit" th:text="${text}">Add
          Owner
        </button>
      </div>
    </div>
  </form>
</div>
