{{!
  <!DOCTYPE html>
  
  <html lang="en">
  
    <body>}}
  
  {{<fragments/layout}}{{$menu}}home{{/menu}}{{$body}}
  
      <img src="/resources/images/pets.png"/>
      <h2>Something happened...</h2>
      <p>{{message}}</p>
  
  {{/body}}{{/fragments/layout}}
  
  {{!  </body>
  
  </html>}}
  